body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    font-family: Arial, Helvetica, sans-serif;
    color: #61dafb;
}

#clock{
    font-size: 50 rem;
    font-weight: bold;
    text-shadow: 0 0 10px #61dafb, 0 0 20px #61dafb;
}